@media print, (max-width: 1179px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 252px;
        --font_size_title: 32px;
        --font_size_title_small: 24px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .block
    {
        margin-bottom: 80px;
    }


    .block_data
    {
        padding: 36px;
    }


    .block_data .tabs
    {
        width: calc(100% + 72px);
        max-width: calc(100% + 72px);
        margin: -36px -36px 36px;
    }

    .block_data .tabs button
    {
        min-height: 60px;
    }


    .block_bottom > *
    {
        padding: 20px;
    }



    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 24px);
    }

    .content_flex .content > * + *
    {
        margin-top: 24px;
    }


    .carousel-swiper-button-next,
    .carousel-swiper-button-prev
    {
        top: -84px;
    }



    /*-------------
        Tooltip
    -------------*/
    .tooltip .text
    {
        right: -82px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 40px;
    }

    .tabs button
    {
        font-size: 17px;
        line-height: 21px;

        min-height: 52px;
    }



    /*---------------
        Prev/Next
    ---------------*/
    .prev_next
    {
        margin-top: 28px;
    }



    /*------------
        Header
    ------------*/
    header .info
    {
        padding: 32px 0;
    }


    header .logo,
    header .logo img
    {
        width: 372px;
    }


    header .whatsapp,
    header .phone,
    header .order_btn
    {
        margin-left: 32px;
    }


    header .menu .item > a
    {
        font-size: 14px;

        min-height: 56px;
        padding: 8px 16px;
    }

    header .menu .item > a .arr
    {
        width: 6px;
        height: 6px;
        margin-left: 8px;
    }


    header .menu .sub_menu
    {
        padding: 40px 0;
    }

    header .menu .sub_menu .links > * + *
    {
        margin-top: 12px;
    }

    header .menu .sub_menu .links a
    {
        font-size: 16px;
        line-height: 20px;
    }


    header .analysis_link
    {
        padding: 8px 24px;
    }

    header .analysis_link .icon
    {
        margin-right: 12px;
    }


    header .shop_link .btn
    {
        min-height: 56px;
        padding: 8px 24px;
    }

    header .shop_link .mini_modal
    {
        width: 260px;
        padding: 24px;
    }

    header .shop_link .mini_modal .checkout_link
    {
        margin-top: 16px;
        padding: 8px 16px;
    }


    header .search .btn
    {
        padding: 8px 8px 8px 24px;
    }

    header .search form .input
    {
        font-size: 17px;

        height: 56px;
    }

    header .search form .submit_btn
    {
        font-size: 19px;

        height: 56px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .categories .category
    {
        padding: 4px 0;
    }

    aside .categories .category .name
    {
        font-size: 17px;
    }


    aside .categories .sub_cats
    {
        padding-left: 28px;
    }

    aside .categories .sub_cats > * + *
    {
        margin-top: 12px;
    }

    aside .categories .sub_cats a
    {
        font-size: 15px;
    }



    aside > .links
    {
        padding: 20px 24px;
    }

    aside > .links a
    {
        font-size: 16px;
        line-height: 20px;

        min-height: 36px;
    }


    aside > .links .sub_links > * + *
    {
        margin-top: 12px;
    }

    aside > .links .sub_links a
    {
        font-size: 15px;
        line-height: 17px;
    }



    aside .exp
    {
        line-height: 19px;

        padding: 16px 24px;
    }

    aside .exp br
    {
        display: none;
    }


    aside * + .banners
    {
        margin-top: 24px;
    }



    aside * + .filter
    {
        margin-top: 24px;
    }

    aside .filter .item
    {
        padding: 16px 24px 28px;
    }


    aside .filter .item .name
    {
        font-size: 17px;
        line-height: 21px;

        min-height: 32px;
    }

    aside .filter .item .name:before
    {
        left: -24px;

        width: 8px;
    }


    aside .filter .search
    {
        margin-bottom: 20px;
    }


    aside .filter .scroll
    {
        width: calc(100% + 16px);
        margin-right: -16px;
    }

    aside .filter .scroll > * + *
    {
        margin-top: 16px;
    }


    aside .filter label
    {
        font-size: 15px;
    }


    aside .filter .reset_btn
    {
        font-size: 17px;

        padding: 12px 24px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
        padding-top: 24px;
    }


    .breadcrumbs .sep
    {
        margin: 0 8px;
    }


    .page_title
    {
        font-size: 34px;
        line-height: 38px;

        margin-top: 24px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-top: -36px;
        margin-bottom: 28px;
    }


    .block_head .title
    {
        padding: 24px 0;
    }

    .block_head .title:before
    {
        left: -36px;

        width: 8px;
    }


    .block_head .desc
    {
        font-size: 17px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .input,
    .form textarea
    {
        font-size: 17px;
        line-height: 23px;
    }

    .form .nice-select .current
    {
        font-size: 17px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 17px;
        line-height: 25px;
    }


    .text_block > *
    {
        margin-bottom: 24px;
    }


    .text_block h2
    {
        font-size: 28px;
        line-height: 32px;

        margin-bottom: 20px;
    }


    .text_block ul > li + li,
    .text_block ol > li + li
    {
        margin-top: 16px;
    }

    .text_block ul > li:before
    {
        top: 9px;
    }


    .text_block img.left
    {
        max-width: calc(50% - 36px);
        margin-right: 36px;
    }

    .text_block img.right
    {
        max-width: calc(50% - 36px);
        margin-left: 36px;
    }


    .text_block table td
    {
        font-size: 15px;
        line-height: 19px;
    }



    /*--------------
        Analysis
    --------------*/
    .analysis .item + .item
    {
        margin-top: 24px;
    }


    .analysis .product .name
    {
        font-size: 17px;
        line-height: 23px;

        min-height: 46px;
    }


    .analysis .product .buy_btn
    {
        margin-top: 12px;
    }



    /*------------------
        Press center
    ------------------*/
    .press_center .more
    {
        margin-top: 32px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .block_title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }


    .articles .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .articles .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .articles .article .info
    {
        padding: 20px 24px;
    }

    .articles .article .name
    {
        font-size: 20px;
        line-height: 26px;
    }

    .articles .article .desc
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 16px;
    }

    .articles .article .date
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 12px;
    }



    /*------------------
        Publications
    ------------------*/
    .publications .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .publications .row > *
    {
        width: calc(25% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .publications .article .info
    {
        padding: 20px 24px;
    }

    .publications .article .name
    {
        font-size: 20px;
        line-height: 26px;
    }

    .publications .article .date
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 8px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe .data
    {
        padding: 32px;
    }


    .subscribe .title
    {
        font-size: 17px;
        line-height: 23px;

        margin-right: 40px;
    }


    .subscribe form
    {
        width: 540px;
    }

    .subscribe form .input
    {
        font-size: 17px;

        width: calc(100% - 180px);
        height: 44px;
    }

    .subscribe form .submit_btn
    {
        width: 180px;
        height: 44px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .block_data .bottom
    {
        width: calc(100% + 72px);
        margin: 40px -36px -36px;
        padding: 20px 36px;
    }


    .article_info .share > span
    {
        margin-right: 24px;
    }

    .article_info .share img
    {
        height: 36px;
    }



    /*------------
        Awards
    ------------*/
    .awards .row
    {
        margin-bottom: -24px;
        margin-left: -24px;

        --masonry_gutter: 24px;
    }

    .awards .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .awards .item .info
    {
        padding: 20px 24px;
    }

    .awards .item .name
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 12px;
    }

    .awards .item .desc
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 16px;
    }


    .awards .item .spoler_btn
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 16px;
    }



    /*------------
        Brands
    ------------*/
    .brands .row
    {
        margin-bottom: -32px;
        margin-left: -32px;
    }

    .brands .row > *
    {
        width: calc(20% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }


    .brands .brand .desc
    {
        font-size: 15px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .empty
    {
        padding: 40px 32px;
    }

    .cart_info .empty .title
    {
        font-size: 22px;
    }



    /*----------------------
        Cart info status
    ----------------------*/
    .cart_info_status .block_title
    {
        font-size: 22px;
        line-height: 28px;

        margin-bottom: 36px;
    }


    .cart_info_status .info
    {
        width: 680px;
        padding: 40px 60px;
    }

    .cart_info_status .info .title
    {
        font-size: 17px;
    }


    .cart_info_status .links
    {
        margin-top: 28px;
    }

    .cart_info_status .links > * + *
    {
        margin-left: 60px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        width: 42%;
        padding: 32px;
    }

    .contacts_info .data > * + *
    {
        margin-top: 24px;
    }


    .contacts_info .item .val
    {
        font-size: 17px;
        line-height: 25px;
    }


    .contacts_info .map_links
    {
        font-size: 17px;
        line-height: 25px;

        right: 32px;
        bottom: 32px;
    }


    .contacts_info .map_wrap
    {
        width: 58%;
        min-height: 600px;
    }



    /*---------------
        Cats wall
    ---------------*/
    .cats_wall .item
    {
        min-height: 120px;
        padding: 20px 20px 20px 144px;

        border-width: 8px;
    }


    .cats_wall .item .thumb
    {
        width: 128px;
    }


    .cats_wall .item .name
    {
        font-size: 20px;
        line-height: 22px;
    }

    .cats_wall .item.big .name
    {
        font-size: 24px;
        line-height: 26px;
    }


    .cats_wall .item .btn
    {
        font-size: 17px;

        margin-top: 12px;
    }


    .cats_wall .item .sub_cats
    {
        font-size: 16px;
        line-height: 18px;
    }


    .cats_wall + .text_block
    {
        margin-top: 40px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .col_main
    {
        width: 100%;
    }


    .cart_info .col_right
    {
        width: 100%;
        margin-top: 30px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .sub_cats
    {
        font-size: 17px;
    }


    .service_info + .text_block
    {
        margin-top: 40px;
    }


    .service_info .block_data .block_bottom
    {
        margin-right: -36px;
        margin-left: -36px;
    }

    .service_info .block_data .block_bottom > *
    {
        font-size: var(--font_size);
        line-height: calc(var(--font_size) + 4px);
    }

    .service_info .block_data .block_bottom .icon
    {
        margin-right: 12px;
    }

    .service_info .block_data .block_bottom .name
    {
        font-size: calc(var(--font_size) + 2px);
    }


    .service_info .accordion .head
    {
        padding: 12px 56px 12px 28px;
    }

    .service_info .accordion .data
    {
        padding: 20px 28px 24px;
    }



    /*---------
        Faq
    ---------*/
    .faq .item .title
    {
        font-size: 17px;
        line-height: 23px;
    }

    .faq .item .summary
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 12px;
    }


    .faq .item .data
    {
        padding-right: 24px;
    }



    /*----------------
        Specialist
    ----------------*/
    .specialist .person .specialization
    {
        font-size: 15px;
        line-height: 21px;
    }


    .specialist .person .name
    {
        font-size: 22px;
        line-height: 26px;
    }

    .specialist .person .post
    {
        font-size: 15px;
        line-height: 19px;
    }

    .specialist .person .desc
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 20px;
    }



    /*--------------
        Products
    --------------*/
    .products .product .desc
    {
        font-size: 14px;
        line-height: 17px;
    }

    .products .product .price
    {
        font-size: 17px;
        line-height: 23px;
    }

    .products .product .status
    {
        font-size: 14px;
        line-height: 20px;
    }


    .products .buy_set_btn
    {
        line-height: 48px;

        width: 240px;
        height: 48px;
    }


    .products .bottom
    {
        width: calc(100% + 72px);
        margin: 30px -36px -36px;
    }



    /*---------------
        Gift cert
    ---------------*/
    .gift_cert .image
    {
        width: calc(40% - 24px);
    }


    .gift_cert .data
    {
        width: calc(60% - 24px);
    }


    .gift_cert .title
    {
        font-size: 17px;
        line-height: 23px;

        margin-bottom: 24px;
    }


    .gift_cert ul
    {
        margin-top: 32px;
    }

    .gift_cert ul li
    {
        font-size: 15px;
        line-height: 19px;
    }


    .gift_cert .bottom
    {
        width: calc(100% + 36px);
        margin-top: 32px;
        margin-right: -36px;
        margin-bottom: -36px;
    }

    .gift_cert .bottom .phone
    {
        line-height: 21px;
    }

    .gift_cert .bottom .phone * + *
    {
        margin-top: 4px;
    }



    /*----------------------
        Gift cert status
    ----------------------*/
    .gift_cert_status .block_title
    {
        font-size: 22px;
        line-height: 28px;

        margin-bottom: 36px;
    }


    .gift_cert_status .info
    {
        width: 680px;
        padding: 40px 60px;
    }

    .gift_cert_status .info .title
    {
        font-size: 17px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .slide .cont
    {
        min-height: 400px;
    }


    .main_slider .slide .info
    {
        width: 440px;
    }

    .main_slider .slide .title
    {
        font-size: 64px;
        line-height: 100%;
    }

    .main_slider .slide .price
    {
        font-size: 24px;
    }

    .main_slider .slide .desc
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 32px;
    }


    .main_slider .swiper-button-prev
    {
        left: 12px;
    }

    .main_slider .swiper-button-next
    {
        right: 12px;
    }



    /*--------------------
        Second section
    --------------------*/
    .second_section
    {
        padding: 60px 0;
    }


    .second_section .block_title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 28px;
    }


    .second_section .links
    {
        margin-top: 60px;
    }

    .second_section .links .title
    {
        font-size: 22px;
        line-height: 26px;
    }

    .second_section .links .row
    {
        margin-bottom: -12px;
        margin-left: -24px;
    }

    .second_section .links .row > *
    {
        width: calc(25% - 24px);
        margin-bottom: 12px;
        margin-left: 24px;
    }

    .second_section .links a
    {
        font-size: 16px;
    }


    .second_section .bottom
    {
        margin-top: 60px;
    }



    /*------------------
        Promo blocks
    ------------------*/
    .promo_blocks .item .name
    {
        font-size: 20px;
        line-height: 22px;
    }




    /*-----------------
        About block
    -----------------*/
    .about_block
    {
        padding: 72px 0;
    }


    .about_block .image
    {
        width: 424px;
        margin-left: -24px;
    }


    .about_block .data
    {
        width: calc(100% - 440px);
        padding-top: 32px;
        padding-right: 0;
    }

    .about_block .data .title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 24px;
    }

    .about_block .data .text_block
    {
        font-size: 17px;
        line-height: 25px;
    }

    .about_block .data .award
    {
        margin-top: 40px;
    }



    /*-----------------
        News/Stocks
    -----------------*/
    .news_stocks
    {
        padding: 60px 0;
    }


    .news_stocks .head
    {
        margin-bottom: 32px;
    }


    .news_stocks .block_title
    {
        font-size: 32px;
        line-height: 36px;
    }


    .news_stocks .all_link
    {
        font-size: 16px;
    }


    .news_stocks .news
    {
        width: calc(100% - 360px);
    }

    .news_stocks .news .row
    {
        margin-bottom: -40px;
        margin-left: -32px;
    }

    .news_stocks .news .row > *
    {
        width: calc(50% - 32px);
        margin-bottom: 40px;
        margin-left: 32px;
    }

    .news_stocks .news .item .name
    {
        font-size: 19px;
        line-height: 25px;
    }

    .news_stocks .news .item .date
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 12px;
    }


    .news_stocks .stocks
    {
        width: 320px;
    }

    .news_stocks .stocks .list > * + *
    {
        margin-top: 32px;
    }

    .news_stocks .stocks .item .name
    {
        font-size: 20px;
        line-height: 26px;
    }

    .news_stocks .stocks .item .date
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 12px;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .data
    {
        font-size: 16px;
        line-height: 24px;

        width: 380px;
        padding: 32px;
    }

    .contacts_block .time,
    .contacts_block .requisites_link
    {
        margin-top: 24px;
    }



    /*--------------
        Licenses
    --------------*/
    .licenses .row
    {
        margin-bottom: -32px;
        margin-left: -32px;
    }

    .licenses .row > *
    {
        width: calc(25% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }



    /*-----------------------
        LK info - Bonuses
    -----------------------*/
    .lk_info .bonuses .info
    {
        padding: 40px 60px;
    }

    .lk_info .bonuses .info .title,
    .lk_info .bonuses .info .text
    {
        font-size: 17px;
    }


    .lk_info .bonuses table th,
    .lk_info .bonuses table td
    {
        font-size: 15px;
        line-height: 17px;
    }



    /*------------------------------
        LK info - Login/Register
    ------------------------------*/
    .lk_info .login,
    .lk_info .register
    {
        padding: 36px;
    }

    .lk_info .login .title,
    .lk_info .register .title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 32px;
        padding-bottom: 8px;
    }

    .lk_info .login .bottom,
    .lk_info .register .bottom
    {
        font-size: 16px;
        line-height: 24px;

        margin-top: 28px;
    }



    /*----------------------
        LK info - Orders
    ----------------------*/
    .lk_info .orders .sort
    {
        width: calc(100% + 72px);
        margin: 0 -36px 36px;
        padding: 0 36px 30px;
    }


    .lk_info .orders table th,
    .lk_info .orders table td
    {
        font-size: 15px;
        line-height: 17px;
    }


    .lk_info .orders table td.actions button + button
    {
        margin-left: 5px;
    }



    /*---------------------
        Loyalty program
    ---------------------*/
    .loyalty_program .item + .item
    {
        margin-top: 40px;
    }

    .loyalty_program .item .head .icon
    {
        width: 72px;
        height: 72px;
        margin-right: 24px;
    }

    .loyalty_program .item .head .title
    {
        font-size: 22px;
        line-height: 26px;

        max-width: calc(100% - 96px);
        padding-right: 24px;
    }


    .loyalty_program .item .data
    {
        padding: 24px 0 0 96px;
    }



    /*---------------
        Discounts
    ---------------*/
    .discounts .discount .val
    {
        font-size: 40px;

        width: 132px;
        padding: 24px 12px;
    }

    .discounts .discount .val span
    {
        font-size: 60px;
    }

    .discounts .discount .val + *
    {
        width: calc(100% - 148px);
    }

    .discounts .discount .name
    {
        font-size: 17px;
    }

    .discounts .discount .desc
    {
        font-size: 15px;
        line-height: 21px;

        margin-top: 8px;
    }

    .discounts .discount .exp
    {
        font-size: 13px;
        line-height: 15px;

        margin-top: 8px;
    }



    /*----------------
        Price list
    ----------------*/
    .price_list .search form .input
    {
        font-size: 17px;
    }


    .price_list .sort
    {
        width: calc(100% + 72px);
        margin: 0 -36px 36px;
        padding: 0 36px 30px;
    }



    /*----------------
        Requisites
    ----------------*/
    .requisites .item
    {
        font-size: 17px;
        line-height: 19px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .review .info
    {
        width: calc(100% - 244px);
    }

    .reviews .review .text_block
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .block_data
    {
        padding: 24px;
    }



    /*-------------------
        Products sort
    -------------------*/
    .products_sort
    {
        padding: 20px 24px;
    }



    /*-------------------
        Filter values
    -------------------*/
    .filter_values button
    {
        font-size: 15px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        width: calc(45% - 20px);
    }


    .product_info .images .big .slide a
    {
        padding-bottom: 300px;
    }


    .product_info .images .thumbs
    {
        margin-bottom: -8px;
        margin-left: -8px;
    }

    .product_info .images .thumbs > *
    {
        width: calc(25% - 8px);
        margin-bottom: 8px;
        margin-left: 8px;
    }


    .product_info .data .desc,
    .product_info .data .features,
    .product_info .data .articul
    {
        font-size: 15px;
        line-height: 21px;
    }

    .product_info .data .price
    {
        font-size: 28px;
    }

    .product_info .data .status.red
    {
        margin-left: auto;
    }

    .product_info .data .amount,
    .product_info .data .volume
    {
        width: 104px;
    }

    .product_info .data .buy_btn
    {
        max-width: calc(100% - 228px);
    }


    .product_info .bottom
    {
        width: calc(100% + 72px);
        margin: 30px -36px -36px;
    }



    .product_info .reviews.active
    {
        margin: -36px;
    }

    .product_info .reviews .review
    {
        padding: 36px;
    }

    .product_info .reviews .review .text_block
    {
        font-size: 15px;
        line-height: 21px;
    }

    .product_info .reviews .review.answer
    {
        margin-top: 40px;
        margin-left: 20px;
    }



    /*-----------------
        Person info
    -----------------*/
    .person_info .col_left
    {
        width: 320px;
    }

    .person_info .col_left > * + *
    {
        margin-top: 24px;
    }

    .person_info .col_left .desc
    {
        font-size: 15px;
        line-height: 21px;
    }


    .person_info .col_right
    {
        width: calc(100% - 360px);
    }

    .person_info .col_right .desc
    {
        font-size: 17px;
        line-height: 25px;

        padding: 24px;
    }

    .person_info .col_right .desc > * + *
    {
        margin-top: 20px;
    }


    .person_info .features
    {
        font-size: 17px;
        line-height: 25px;
    }

    .person_info .features > * + *
    {
        margin-top: 16px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        padding: 40px 36px;
    }

    .feedback .title
    {
        font-size: 22px;
        line-height: 28px;
    }



    /*-----------------
        Specialists
    -----------------*/
    .specialists .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .specialists .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .specialists .person .name
    {
        font-size: 19px;
        line-height: 21px;
    }

    .specialists .person .desc
    {
        font-size: 15px;
        line-height: 21px;
    }



    /*--------------------
        Mob fixed menu
    --------------------*/
    .mob_fixed_menu
    {
        display: flex;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 110px;
    }


    footer .bottom
    {
        padding: 32px 0;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        width: 640px;
        padding: 72px 120px;
    }



    .auth_modal .success_text
    {
        font-size: 17px;
        line-height: 25px;

        padding: 32px 0;
    }

    .auth_modal .bottom
    {
        font-size: 16px;
        line-height: 24px;

        margin-top: 28px;
    }



    #add_review_modal .form .rating
    {
        font-size: 17px;
    }
}
